
.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
}

.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.step {
    text-align: center;
}

.step .col-md-2 {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
}

.step .col-md-2:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-2:hover {
    color: #F58723;
    cursor: pointer;
}

.step .activestep {
    color: #F58723;
    height: 100px;
    margin-top: -7px;
    padding-top: 7px;
    border-left: 6px solid #5CB85C !important;
    border-right: 6px solid #5CB85C !important;
    border-top: 3px solid #5CB85C !important;
    border-bottom: 3px solid #5CB85C !important;
    vertical-align: central;
    background-color: rgba(39, 211, 53, 0.22);
}

.step .fa {
    padding-top: 15px;
    font-size: 40px;
}

#classInput {
    width: 100%;
}

img {
    height: 30%;
    width: 30%;
}

#experiments {
    height: 30%;
    width: 30%;
    border: double;
}

#magnetchain {
    height: 50%;
    width: 50%;
    border: double;
}

img#experiments{
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}

img#experiments:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#lists {
    text-align: left;
    margin-left: 15%;
}

#matterBody {
    background: url("../images/matter/saltLake.jpg") no-repeat center center fixed;
}
#magBody {
    background: url("../images/magnetism/RubMagnet.JPG") no-repeat center center fixed;
    background-size: cover;
}

.link {
    background-color: #fff;
    text-align: right;
}

.intro-list {
    text-align: left;
}

.myList {
    box-shadow: none !important;
}

#magBtn {

}

#mainPage {
    background-image: url("../images/magneticPersonality/magneticbg.jpg");
    background-size: 100%;
}
#pictureBox{
    border: double;
    height: 50%;
    width: 100%;
    background-color: white;
}